
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
    border: 0 none;
    margin: 0;
    outline: medium none;
    padding: 0;
    vertical-align: top;
}
.fancybox-wrap {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 98020;
}
.fancybox-skin {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #666666;
    position: relative;
    text-shadow: none;
}
.fancybox-opened {
    z-index: 98030;
}
.fancybox-outer, .fancybox-inner {
    position: relative;
}
.fancybox-inner {
    overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
}
.fancybox-error {
    color: #444444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}
.fancybox-image, .fancybox-iframe {
    display: block;
    height: 100%;
    width: 100%;
}
.fancybox-image {
    max-height: 100%;
    max-width: 100%;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../img/fancybox_sprite.png");
}
#fancybox-loading {
    background-position: 0 -108px;
    cursor: pointer;
    left: 50%;
    margin-left: -22px;
    margin-top: -22px;
    opacity: 0.8;
    position: fixed;
    top: 50%;
    z-index: 98060;
}
#fancybox-loading div {
    background: url("../img/fancybox_loading.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 44px;
    width: 44px;
}
.fancybox-close {
    cursor: pointer;
    height: 36px;
    position: absolute;
    right: -18px;
    top: -18px;
    width: 36px;
    z-index: 98040;
}
.fancybox-nav {
    background: url("../img/blank.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 100%;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 40%;
    z-index: 98040;
}
.fancybox-prev {
    left: 0;
}
.fancybox-next {
    right: 0;
}
.fancybox-nav span {
    cursor: pointer;
    height: 34px;
    margin-top: -18px;
    position: absolute;
    top: 50%;
    visibility: hidden;
    width: 36px;
    z-index: 98040;
}
.fancybox-prev span {
    background-position: 0 -36px;
    left: 10px;
}
.fancybox-next span {
    background-position: 0 -72px;
    right: 10px;
}
.fancybox-nav:hover span {
    visibility: visible;
}
.fancybox-tmp {
    left: -9999px;
    position: absolute;
    top: -9999px;
    visibility: hidden;
}
.fancybox-lock {
    overflow: hidden;
}
.fancybox-overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8) !important;
    display: none;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 98010;
}
.fancybox-overlay-fixed {
    bottom: 0;
    position: fixed;
    right: 0;
}
.fancybox-lock .fancybox-overlay {
    overflow-x: auto;
    overflow-y: scroll;
}
.fancybox-title {
    font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    visibility: hidden;
    z-index: 98050;
}
.fancybox-opened .fancybox-title {
    color: #666666;
    visibility: visible;
}
.fancybox-title-float-wrap {
    bottom: 0;
    margin-bottom: -35px;
    position: absolute;
    right: 50%;
    text-align: center;
    z-index: 98050;
}
.fancybox-title-float-wrap .child {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    line-height: 24px;
    margin-right: -100%;
    padding: 2px 20px;
    text-shadow: 0 1px 2px #222222;
    white-space: nowrap;
}
.fancybox-title-outside-wrap {
    color: #FFFFFF;
    margin-top: 10px;
    position: relative;
}
.fancybox-title-inside-wrap {
    padding-top: 10px;
}
.fancybox-title-over-wrap {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    padding: 10px;
    position: absolute;
}
#fancybox-buttons {
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 98050;
}
#fancybox-buttons.top {
    top: 10px;
}
#fancybox-buttons.bottom {
    bottom: 10px;
}
#fancybox-buttons ul {
    background: -moz-linear-gradient(center top , #444444 0%, #343434 50%, #292929 50%, #333333 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #111111;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05) inset;
    display: block;
    height: 30px;
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
    width: 166px;
}
#fancybox-buttons ul li {
    float: left;
    margin: 0;
    padding: 0;
}
#fancybox-buttons a {
    background-image: url("../img/fancybox_buttons.png");
    background-repeat: no-repeat;
    display: block;
    height: 30px;
    opacity: 0.8;
    outline: medium none;
    text-indent: -9999px;
    width: 30px;
}
#fancybox-buttons a:hover {
    opacity: 1;
}
#fancybox-buttons a.btnPrev {
    background-position: 5px 0;
}
#fancybox-buttons a.btnNext {
    background-position: -33px 0;
    border-right: 1px solid #3E3E3E;
}
#fancybox-buttons a.btnPlay {
    background-position: 0 -30px;
}
#fancybox-buttons a.btnPlayOn {
    background-position: -30px -30px;
}
#fancybox-buttons a.btnToggle {
    background-position: 3px -60px;
    border-left: 1px solid #111111;
    border-right: 1px solid #3E3E3E;
    width: 35px;
}
#fancybox-buttons a.btnToggleOn {
    background-position: -27px -60px;
}
#fancybox-buttons a.btnClose {
    background-position: -56px 0;
    border-left: 1px solid #111111;
    width: 35px;
}
#fancybox-buttons a.btnDisabled {
    cursor: default;
    opacity: 0.4;
}
